@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffe8ce;
  --secondary: #008b47;
  --teriary: #000;
  --quartery: #f6bc3f;
  --fifth: #fff;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
